.primary-img{
	height: 300px;
	width: 400px;
}

.font-14{
	font-size: 14px;
}

.font-18{
	font-size: 18px;
}

.font-24{
	font-size: 24px;
}

.font-32{
	font-size: 32px;
}

.display-img{
	display: block;
	visibility: hidden;
	width: 500px;
	opacity: 0;
	height: 0;
}

.display-img-input{
	display: none;
}


.display-img-input:checked + img{
	float: left;
	opacity: 1;
	visibility: visible;
	height: 100%;
}

.thumbnail{
	margin: 0;
	padding: 0;
	width: 100px;
	height: 100px;
    float: left;
    border: 1px solid #7d7d7d;
    cursor: pointer;
}

.logo{
	padding-bottom: 20px;
}

.left{
	float: left;
}

.padding-vert-small{
	padding-left: 5px;
	padding-right: 5px;
}

.padding-top-small{
	padding-top: 10px;
}

.text-center{
	text-align: center;
}