.primary-img{
	height: 300px;
	width: 400px;
}

.jumbotron1{
background: -moz-linear-gradient(89deg, rgba(255,255,255,1) 0%, rgba(51,122,183,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(51,122,183,1)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(89deg, rgba(255,255,255,1) 0%, rgba(51,122,183,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(89deg, rgba(255,255,255,1) 0%, rgba(51,122,183,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(89deg, rgba(255,255,255,1) 0%, rgba(51,122,183,1) 100%); /* ie10+ */
background: linear-gradient(1deg, rgba(255,255,255,1) 0%, rgba(51,122,183,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#337ab7', endColorstr='#ffffff',GradientType=0 ); /* ie6-9 */}

.font-14{
	font-size: 14px;
}

.font-18{
	font-size: 18px;
}

.font-24{
	font-size: 24px;
}

.font-32{
	font-size: 32px;
}

.display-img{
	display: block;
	visibility: hidden;
	width: 500px;
	opacity: 0;
	height: 0;
}

.display-img-input{
	display: none;
}


.display-img-input:checked + img{
	float: left;
	opacity: 1;
	visibility: visible;
	height: 100%;
}

.thumbnail{
	margin: 0;
	padding: 0;
	width: 100px;
	height: 100px;
    float: left;
    border: 1px solid #7d7d7d;
    cursor: pointer;
}

.logo{
	padding-bottom: 20px;
}

.left{
	float: left;
}

.padding-vert-small{
	padding-left: 5px;
	padding-right: 5px;
}

.padding-top-small{
	padding-top: 10px;
}